body {
	background-color: #B2845D;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #67B269;
}

#navbar {
	position: fixed;
	top: 10px;
	left: 50%;
}

#bodytext {
	text-align: right;
}
