<div class="container">
	<div class="title">
		<p>About Biobrainstorm</p>
	</div>
	<div>
		<div>
			<p id="about_text">One of the big questions in bioinformatics is “Ok, I have data, now what?” If the field was any less complex, a single person might be able to answer this question. However, with so many directions and methods in bioinformatics -- genomics, transcriptomics, mass spectrometry, proteomics, phylogenetics, NGS, and many many others -- no one person knows what to do with all the various kinds of data. We aim to provide a common location for people to ask a simple question in the format “I have ______ data, what can I do with it?” and have experts or amateurs give concise answers in the format “You can try 1) ______ 2) ______ . . . N) ______” and provide citations to relevant academic resources.</p>
		</div>
	</div>
</div>
