<div class="container">
	<div class="title">
		<p>About Biobrainstorm</p>
	</div>
	<div>
		<div>
			<p id="about_text">This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. Everything is awesome. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website. This is a cool website.</p>
		</div>
	</div>
</div>
