<div class="container" ng-controller="contact_us">
	<div class="title">
		<p>Contact<p>
	</div>
	<div>
		<p>Need to tell us something?</p>
		<table>
		<tbody>
			<tr>
				<td>Give us your email address</td>
				<td><input type="text" class="input" ng-model="email"></td>
			</tr>
			<tr>
				<td>Write your comment</td>
				<td><input type="text" class="input" ng-model="comment"></td>
			</tr>
		</tbody>
		</table>
		<button ng-click="contact_us()">Send Message</button>
	</div>
</div>
