<div class="container">
	<div class="title">
		<p>Contact<p>
	</div>
	<div>
		<p>Need to tell us something?</p>
		<table>
		<tbody>
			<tr>
				<td>Give us your email address</td>
				<td><input type="text" class="input"></td>
			</tr>
			<tr>
				<td>Write your comment</td>
				<td><input type="text" class="input"></td>
			</tr>
		</tbody>
		</table>
		<p>SUBMIT BUTTON</p>
	</div>
</div>
