<!DOCTYPE html>
<div class="container">
	<div class="title">
		<p>Contact<p>
	</div>
    <!-- CONTACT -->
	<div>
		<p>Your email:</p>
		<p>TEXT FIELD</p>
		<p>Your comment:</p>
		<p>TEXT FIELD</p>
	</div>
    <!-- END CONTACT -->
</div>
