<div id="navbar">
	<ul>
		<li id="navtitle"><a href="/home">Our Cool Site Name</a></li>
		<li><p>|</p></li>
		<li><a href="/view_unanswered">View Unanswered</a></li>
		<li><a href="/signin">Sign In</a></li>
		<li><a href="/signup">Sign Up</a></li>
		<li><input type='text' class='input'></li>
	</ul>
</div>
