<div id="navbar" ng-controller='header'>
	<p id="navtitle"><a href="/home">Biobrainstorm</a></p>
	<ul>
		<li><a href="/view_all">View Questions</a></li>
		<li><a href="/post_question">Post Question</a></li>
		<li ng-if="!isAuth()"><a href="/signin">Sign In</a></li>
		<li ng-if="!isAuth()"><a href="/signup">Sign Up</a></li>
		<li ng-if="isAuth()"><a href="javascript:;" ng-click="signout()">Sign Out ({{getUsername()}})</a></li>
		<li><form ng-controller='search' ng-submit='headerSearch()'><input type='text' placeholder = 'Search' value tabindex='1' autocomplete='off' ng-model='headerSearchBar'></form></li>
	</ul>
</div>
