
<div class="container">
	<div class="title">
		<p>Biobrainstorm</p>
	</div>
	<div class="subtitle">
		<p>A Community for Biologists to Exchange Computational Ideas</p>
	</div>
	<div class="center">
		<form ng-controller='search' ng-submit='submitSearch()'>
			<input type='text' id="middlesearch" ng-model='searchBar'>
		</form>
		<p>Want to ask about your data? <a href="/post_question">Submit a question.</a></p>
	</div>
</div>
