<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/css/styles.css"/>
		<link type="text/css" rel="stylesheet" href="/css/header_footer.css"/>
		<link type="text/js" rel="javascript" href="/js/shared.js"/>
		<title><%= title %></title>
	</head>
	<body>
		<%- body %>
		<!-- NAVBAR -->
		<% include header %>
		<!-- FOOTER -->
		<% include footer %>
	</body>
</html>
