<!DOCTYPE html>
<div class="container">
	<div class="title">
		<p>Ask About Your Data</p>
	</div>
    <!-- ASK_POST -->
	<div>
		<p>Describe your data:</p>
		<p>DATA DESCRIPTION TEXT FIELD</p>
	</div>
	<div>
		<p>Enter some keywords (optional) :</p>
	</div>
	<div>POST BUTTON</div>
    <!-- END ASK_POST -->
</div>
