<div class="container" ng-controller='post_question'>
	<div class="title">
		<p>Ask About Your Data</p>
	</div>
	<table>
        <tbody>
                <tr>
                        <td>Describe your data </td>
                        <td><textarea ng-model="description"></textarea></td>
                </tr>
                <tr>
			<td>Tags (deliminate with a space)</td>
                        <td><input type="text" class="longer_input" ng-model="tags"></td>
                </tr>
        </tbody>
        </table>
	<button ng-click="post_question()">Post</button>
</div>
