<div class="container">
	<div class="title">
		<p>Ask About Your Data</p>
	</div>
	<table>
        <tbody>
                <tr>
                        <td>Describe your data. </td>
                        <td><input type="text" class="input"></td>
                </tr>
                <tr>
			<td>Enter some keywords (optional). </td>
                        <td><input type="text" class="input"></td>
                </tr>
        </tbody>
        </table>
	<p>POST BUTTON</p>
</div>
