<div class="container" ng-controller="search">
	<div class="title">
		<p>Search Results</p>
	</div>
	<div>
		<table border="1" style="width:90%;border:1px solid black;border-collapse: collapse">
			<tr ng-repeat="result in results">
				<td>{{result.title}}</td>
			</tr>	
		</table>
	</div>
</div>
