<div class="container">
	<div class="title">
		<p>Sign In</p>
	</div>
	<table>
	<tbody>
		<tr>
			<td>Username</td>
			<td><input type="text" class="input"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" class="input"></td>
		</tr>
	</tbody>
	</table>
	<div>Sign In Button</div>
	<p>Don't have an account? <a href="/signup">Create one.</a></p>
</div>
