<div class="container" ng-controller="view_all">
	<div class="title">
		<p style="padding-bottom:1em;">All Questions</p>
	</div>
<!-- _id: String, 
userName: String,
tagTopics: [String],    
title: String,                  
messageType:   String,
messageBody: String,
associatedIds: Array,
voteNum: Number -->
	<div ng-repeat="result in results" class="result_unit">
		<div class="subtitle"><p>{{result.title}}</p></div>
		<!-- p>{{result.messageType}}</p -->
		<p style="font-size:18pt; padding-bottom: .5em; padding-top: .5em;">{{result.messageBody}}</p>
		<p>Tags: {{result.tagTopics.join(', ')}}</p>
		<p>User: {{result.userName}}</p>
		<a ng-if="isCurrentUser(result.userName)" href="javascript:;" ng-click="deleteQuestion(result._id)" style="color:#FF0000;">Remove</a>
	</div>	

</div>
