<!DOCTYPE html>
<div class="container">
	<div class="title">
		<p>Answer</p>
	</div>
    <!-- ANSWER -->
	<div>
		<p>This probably requires crazy javascript.</p>
	</div>
    <!-- END ANSWER -->
</div>
