html {
	min-width: 900px; /* Prevents header and footer from collapsing */
}

#navbar {
	position: relative;
	width: 100%;
	margin-right: auto;
	top: 0;
	left: 0;
	padding: .5em;
	background-color: #337B7F;
}

#navbar ul {
	float: right;
	display: inline;
	padding-right: 5%;
}

#navbar ul li {
	padding-left: 1em;
	display: inline-block;
}

#navbar ul li p {
	padding-left: 6em;
	padding-right: 2em;
	display: inline;
}

#navbar a {
	color: #B3FBFF;
	font-size: 1.2em;
	font-family: sans-serif;
}

#navbar ul li form input {
	background-image: url(/assets/magnifying_glass.png),none;
	background-position-x: 3px;
	background-position-y: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	padding-left:22px;
	width: 188px; 
	max-width: 188px;
	font-size: 12pt;
	background-color: {{color}};
}

#navtitle {
	width: auto;
	display: inline;
	text-align: left;
	padding-left: 10%;
	font-size: 1.3em;
}

#footer {
	position: fixed;
	top: 100%;
	text-align: center;
	background-color: #66F6FF;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-top: -2.15em;
	width: 100%;
}

#footer p {
	display: inline;
	font-size: 1.2em;
}

#footer a {
	padding-left: 2em;
	font-size: 1.2em;
}
