#navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background-color: #40FFCB;
}

#navbar ul {
	text-align: right;
	padding-right: 5%;
}

#navbar ul li {
	padding-left: 1em;
}

#navbar ul li p {
	padding-left: 6em;
	padding-right: 2em;
	display: inline;
}

#navtitle {
	width: auto;
	display: inline;
	text-align: left;
	padding-left: 10%;
}

#footer {
	position: fixed;
	top: 100%;
	text-align: center;
	background-color: #FF6E6D;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-top: -2.15em;
	width: 100%;
}

#footer p {
	display: inline;
}

#footer a {
	padding-left: 2em;
}
