body {
	background-color: #52C5CC;
	margin: 0;
}

td {
	text-align: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline;
}

a {
	text-decoration: none;
}

input {
	text-align: left;
	font-size: 16pt;
}

textarea {
	text-align: left;
	height: 200px;
	max-height: 400px;
	width: 400px;
	max-width: 400px;
	font-size: 1em;
	line-height: 1.1em;
}

.longer_input {
	width: 400px;
}

#about_text {
	font-size: 18pt;
}

.container {
	background-color: #B3FBFF;
	position: absolute;
	text-align: center;
	height: 100%;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.container p , .container table {
	text-align: center;
	font-size: 16pt;
	margin: auto;
}

.title {
	margin-top: 10%;
	margin-bottom: 1%;
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	color: #597D7F;
}

.title p {
	font-size: 2em;
}

.result_unit {
	border-bottom: thin dotted #337B7F;
}

.result_unit p {
	text-align: left;
	padding-left: 8%;
}

.subtitle {
	margin-top: 1%;
	font-family: Verdana;
	font-weight: bold;
	font-size: 1.25em;
	text-align: left;
	font-variant: small-caps;
	color: #597D7F;
}

.subtitle p {
	padding-left: 0%;
	text-align: center;
	font-size: 1.25em;
}

.center {
	position: relative;
	top: 20%;
	min-width: 50%;
	max-width: 70%;
	min-height: 25%;
	max-height: 50%;
	padding: 2em;
	margin: 0 auto;
}

#middlesearch {
	text-align: left;
	font-size: 2em;
	width: 100%;
}

#about_text {
	text-align: left;
	padding-left: 8%;
	padding-right: 8%;
}

